.footer-cont {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
}
.inner-content-footer {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}